[Unit]
Description=Set Kingston Fury RAM RGB 

[Service]
ExecStart=/bin/bash /opt/kfrgb/kfrgb.sh --skip-model-detection --nowarn --wait 0 --smbus 2 --ramslots 2,4 --mode static --color 0,0,255 --brightness 5 

[Install]
WantedBy=multi-user.target
